/* css global styles */

.root {

    margin: 8px;
    width: '25ch';
  
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  
 
  
  .header-form {
    background: linear-gradient(to bottom, #160891 0%, #0d0c63 100%);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  
  
  .App-body {
    display: auto;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    padding-top: 5%;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  
  .App-Status {
    color: rgb(79, 240, 79);
    text-align: center;
    font-size: xx-large;
  }
  
  .App-Status2 {
    color: rgb(56, 38, 121);
    text-align: center;
    font-size: xx-large;
  }
  
  .App-Patner {
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 8%;
    padding-top: 3%;
  
  }
  
  .button {
  
    cursor: pointer;
    text-align: center;
  
  }
  
  
  
  .App-footer-home {
    font-size: 30px;
    background: linear-gradient(to bottom, #3ba71a 0%, #20630c 100%);
    background-size: cover;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: medium;
  }
  
  .App-footer-form {
    font-size: 30px;
    background: linear-gradient(to bottom, #160891 0%, #0d0c63 100%);
    background-size: cover;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: medium;
  }
  
  .App-form {
    text-align: center;
  
  
  }
  
  .App-form-body {
    display: auto;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    padding-top: 5%;
  }
  
  .Form {
    
    justify-content: center;
    display: flex;
  }